name: Update All Taiwan Weather

on:
  schedule:
    - cron: '*/30 * * * *' # 每 30 分鐘跑一次 (不影響流量的最佳頻率)
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Run script
        env:
          CWA_API_KEY: ${{ secrets.CWA_API_KEY }}
          MOENV_API_KEY: ${{ secrets.MOENV_API_KEY }}
        run: python fetch_all.py

      - name: Deploy Data
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          # 強制加入 data 資料夾內的所有檔案
          git add data/
          git commit -m "Update weather data" || exit 0
          git push
